<div class="parent">

<h1><span class="text">
  </span><span class="blinking bold">|</span></h1>
  <input class="user_input" type="text" placeholder="Enter text" value=" job "/>
  <button>RETYPE</button>
</div>
