<div class="jumbotron">
   <h1 class="title">ICO Offer</h1>
     <p class="slogan">ICO Offer 心有多大 舞台就有多大
     <br>
     我们希望藉由这个网站，能找到可以让你自由翱翔的天空
     <br>
      来ICO Offer 让你成为那个想要的自己
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立即应聘</a></p>
</div>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>诚邀您的加入</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->

            </div>

            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"> 未来世界就在眼前 </h2>
                    <hr class="primary">
                    <p>区块链是互联网2.0 加入我们 一起改变世界 </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">qdlin1314@hotmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
