<div class="jumbotron">
   <h1 class="title">ICO Offer</h1>
     <p class="slogan">ICO Offer 心有多大 舞台就有多大
     <br>
     我们希望藉由这个网站，能找到可以让你自由翱翔的天空
     <br>
      来ICO Offer 让你成为那个想要的自己
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立即应聘</a></p>
</div>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>诚邀您的加入</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/jobs">
                                <img class="img-portfolio img-responsive" src="images/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="https://fullstack.xinshengdaxue.com/" class="btn btn-dark">查看更多职位</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
