/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
  height: 100%
}

.parent{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1{
  font-weight: 300;
  font-family: Lato;
  margin: auto;
}

.blinking{
  animation: blink 0.5s infinite alternate;
}

.bold{
  font-weight: bold;
}

@keyframes blink{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}

button{
  border: none;
  width: 100px;
  margin: 20px auto;
  outline: none;
  padding: 5px;
  color: white;
  background: #555;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]{
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
